{% load staticfiles %}
<div class="property" data-id="{{listing.id}}">
    <img class="property_image" src="{{ listing.property_json.PropertyImagePath }}"></img>

    <a href="{% url 'listing_accept' listing.id %}"><img src="{% static "img/glyphicons_343_thumbs_up.png" %}" /></a>
    <a href="{% url 'listing_reject' listing.id %}"><img src="{% static "img/glyphicons_344_thumbs_down.png" %}" /></a>

    <div class="property_headline">
        <h4>{{ listing.address }}</h4>
        <h4>{{ listing.property_json.City }}</h4>
        <h4>{{listing.price}} $</h4>
    </div>
    <span class="mls_number">({{ listing.mls_number }})</span>     
    <span class="scraped_info">Ajoute le : {{ listing.date_scraped }}, Mis-a-jour le : {{ listing.date_last_updated }}</span>
    <ul class="property_features">
        <li>{{listing.property_json.Bedrooms}} chambres</li>
        <li>{{listing.property_json.Bathrooms}} sdb</li>
    </ul>
</div>