{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChizQ5rK7PE91DwAg_3MeMolM2KgkG3So&sensor=false">
    </script>
    <script type="text/javascript">
        var listingMarkerMap = {};
        var map = null;
        function approvalToIcon(approval) {
            return "{% static "img/glyphicons_343_thumbs_up.png" %}";
        }

      function initialize() {
        {% if listings %}
            var center = new google.maps.LatLng({{listings.0.latitude}}, {{listings.0.longitude}});
        {% else %}
            var center = new google.maps.LatLng(-34.397, 150.644);
        {% endif %}

        var mapOptions = {
          center: center,
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var points = [
            {% if listings %}
                {% for listing in listings %}
                 {id: {{listing.id}}, lat: {{listing.latitude}}, lng: {{listing.longitude}}, approval: null } {% if not last %},{% endif %}
                {% endfor %}
            {% endif %}
        ];

        for(var i=0;i<points.length;i++) {
            var point = points[i];

            var icon = approvalToIcon(point.approval);

            listingMarkerMap[point.id] = new google.maps.Marker({
              position: new google.maps.LatLng(point.lat, point.lng),
              map: map,
              icon: icon
            });
        }
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock head %}

{% block content %}
    {% if listings %}
            <div class="row-fluid">
                <div class="properties span6">
                    {% for listing in listings %}
                    <div class="property" data-id="{{listing.id}}">
                        <img class="property_image" src="{{ listing.property_json.PropertyImagePath }}"></img>

                        <a href="{{listing.id}}/accept"><img src="{% static "img/glyphicons_343_thumbs_up.png" %}" /></a>
                        <a href="{{listing.id}}/reject"><img src="{% static "img/glyphicons_344_thumbs_down.png" %}" /></a>

                        <div class="property_headline">
                            <h4>{{ listing.address }}</h4>
                            <h4>{{ listing.property_json.City }}</h4>
                            <h4>{{listing.price}} $</h4>
                        </div>
                        <span class="mls_number">({{ listing.mls_number }})</span>     
                        <span class="scraped_info">Ajoute le : {{ listing.date_scraped }}, Mis-a-jour le : {{ listing.date_last_updated }}</span>
                        <ul class="property_features">
                            <li>{{listing.property_json.Bedrooms}} chambres</li>
                            <li>{{listing.property_json.Bathrooms}} sdb</li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            

                <div style="right: 20px; height:100%" class="span6 affix">
                    <div id="map-canvas" class="span12" style="height:100%;"></div>
                </div>
                    
   
        </div>
        

        <script type="text/javascript">
            function handlePropertyHoverIn(event) {
    
            }

            function handlePropertyHoverOut(event) {
                var property = $(this),
                    marker = listingMarkerMap[property.data("id")];

                marker.setMap(null);
            }

            $(".property").hover(handlePropertyHoverIn, handlePropertyHoverOut)
        </script>


    {% else %}
        <p>Nothing to show.</p>
    {% endif %}    
{% endblock content %}