{% extends "zones/base_zone.html" %}

{% block content %}
    {% if zones %}
        <ul>
            {% for zone in zones %}
            <li class="zone_item">
                <a href="{% url "zone_refresh" zone.id %}">Refresh</a>
                <a href="{% url "zone_detail" zone.id %}">{{ zone.name }}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There is no zone set up yet. <a href="new">Setup a new zone?</a></p>
    {% endif %}    
{% endblock content %}