{% extends "zones/base_zone.html" %}	


{% block content %}
	{% if message %}
		<div>{{message}}</div>	
	{% endif %}
	
	<form method="POST" autocomplete="off"> 
		<label for="name">Zone name</label>
		<input id="name" type="text" name="name">
		<label for="url">URL for realtor search handler</label>
		<input id="url" type="text" name="url">
		<input type="submit" value="add"/>
		{% csrf_token %}
	</form>	
{% endblock content %}