{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
    <title>Better realtor {% block title %} {% endblock %}</title>
    {% block head %}{% endblock %}
    <script src="http://code.jquery.com/jquery.js"></script>
</head>

<body>
	<div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
     
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>