{% extends "base.html" %}
{% load staticfiles %}
{% load listings %}
{% block content %}
    {% if zones %}
        <ul>
            {% for zone in zones %}
            <li class="zone_item">
                <a href="{% url 'zone_refresh' zone.id %}">Refresh</a>
                <a href="{{ zone.url }}">{{ zone.name }}</a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if listings %}
        {% for listing in listings %}
            {% listing_summary listing %}
        {% endfor %}
    {% endif %}

    <a href="{% url 'zone_add' %}">Add a new zone</a>
{% endblock content %}